.addGroupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: var(--dataPanelBackgroundColor);
}

.addGroupButton:hover {
  cursor: pointer;
  color: white;
  background-color: var(--dataPanelBackgroundColor);
}

.addGroupButton:disabled {
  cursor: default;
  color: var(--dataPanelBackgroundColor);
  background-color: var(--backgroundColor);
}

.removeGroupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  padding-bottom: 8px;
  border: none;
  border-radius: 10px;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
}

.removeGroupButton:hover {
  cursor: pointer;
  color: white;
  background-color: var(--dataPanelBackgroundColor);
}

.removeGroupButton:disabled {
  cursor: default;
  color: var(--dataPanelBackgroundColor);
  background-color: var(--dataBackgroundColor);
}

.addGroupTypeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--dataPanelBackgroundColor);
  color: white;
}

.addGroupTypeButton:hover {
  cursor: pointer;
  color: black;
  background-color: var(--buttonBackgroundColor);
}

.addGroupTypeButton:disabled {
  cursor: default;
  color: white;
  background-color: var(--dataPanelBackgroundColor);
}

.removeGroupTypeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--buttonBackgroundColor);
  color: var(--buttonTextColor);
}

.removeGroupTypeButton:hover {
  cursor: pointer;
  background-color: white;
}

.removeGroupTypeButton:disabled {
  cursor: default;
  background-color: var(--dataBackgroundColor);
}

.toogleButton {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: var(--buttonTextColor);
  background-color: var(--buttonBackgroundColor);
  font-size: medium;
}

.toogleButton:hover {
  cursor: pointer;
  background-color: white;
}

.dragButton {
  height: 30px;
  background-color: var(--buttonBackgroundColor);
  border: none;
  color: var(--buttonTextColor);
  border-radius: 10px;
}

.dragButton:hover {
  cursor: pointer;
  background-color: white;
}

.dragButton:disabled {
  cursor: default;
  background-color: var(--dataBackgroundColor);
}