.changeSVLPriceContainer {
  width: 384px;
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
  font-weight: 450;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fieldLabel {
  margin-left: 10px;
}

.inputField {
  margin-right: 10px;
  padding-left: 5px;
  outline: none;
  border: none;
  height: 25px;
  width: 40px;
  border-radius: 10px;
  font-size: var(--buttonFontSize);
}

.priceContainer {
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
  font-weight: 450;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.price {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

.fee {
  width: 140px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.buttonsContainer {
  margin-right: 10px;
}

.button {
  height: 40px;
  border: none;
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
}

.changeButton {
  border: none;
  border-radius: 10px;
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
  font-size: var(--buttonFontSize);
  font-weight: 450;
}

.changeButton:hover {
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.confirmCancelButtonContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.priceRequestFeeContainer {
  align-items: center;
  width: 384px;
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
  font-weight: 450;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.subContainer {
  display: flex;
  gap: 5px;
}

.tezosLogo {
  width: 16px;
  height: 16px;
}