.dropdownMenuContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  color: var(--fieldLabelColor);
  width: 150px;
}

.dropDownPosition {
  position: relative;
}

.selectedAndOptionalContainer {
  display: flex;
  align-items: center;
}

.selected {
  display: flex;
  align-items: center;
  width: 210px;
  height: var(--fieldHeight);
  padding-left: 10px;
  padding-right: 10px;
  font-size: var(--fieldFontSize);
  background-color: var(--fieldBackgroundColor);
  border: none;
  border-radius: 10px;
  justify-content: space-between;
  color: var(--fieldDataColor);
}

.selected:hover {
  cursor: pointer;
}

.selected:disabled {
  cursor: default;
}

.dropdownMenu {
  position: absolute;
  margin-top: -40px;
  margin-left: 220px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--fieldBackgroundColor);
  border-radius: 10px;
  z-index: 1;
}

.searchInput {
  width: 210px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  font-size: 1rem;
  color: var(--fieldDataColor);
  background-color: white;
}

.searchInput::placeholder {
  color: var(--fieldPlaceholderColor);
}

.searchInput:focus {
  outline: none;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 235px;
  max-height: 150px;
  padding-left: 15px;
  border-left: none;
  overflow-y: auto;
}

.dropdownItemContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.dropdownItem {
  background-color: var(--fieldBackgroundColor);
  border: none;
  text-align: left;
  font-size: 1rem;
}

.dropdownItem:hover {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.dropdownItemCheckBox{
  background-color: var(--fieldBackgroundColor);
  border: none;
  text-align: left;
  font-size: 1rem;
}

.noMatch {
  font-size: 1rem;
}

.cancelButton {
  color: black;
  height: var(--buttonHeight);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 7px;
  font-size: var(--buttonFontSize);
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 170px;
}

.cancelButton:hover {
  background-color: white;
  cursor: pointer;
}

.firstOwnersFields {
  margin-left: 5px;
}

.inputFieldLeft {
  border-radius: 10px;
  width: 40px;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  font-size: var(--fielFontSize);
  color: var(--fieldDataColor);
  background-color: var(--fieldBackgroundColor);
}

.inputFieldLeft::placeholder {
  color: var(--fieldPlaceholderColor);
}

.inputFieldLeft:disabled {
  cursor: default;
}

.inputFieldLeft:focus {
  background-color: white;
  outline: none;
}

.inputFieldRight {
  border-radius: 10px;
  width: 40px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 10px;
  font-size: var(--fielFontSize);
  color: var(--fieldDataColor);
  background-color: var(--fieldBackgroundColor);
}

.inputFieldRight::placeholder {
  color: var(--fieldPlaceholderColor);
}

.inputFieldRight:disabled {
  cursor: default;
}

.inputFieldRight:focus {
  background-color: white;
  outline: none;
}

