.filterContainer {
  max-height: calc(100vh - 260px);
  width: 240px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterLabel {
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  color: var(--navBarsSecondaryColor);
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.filterLabel1 {
  margin-left: -17px;
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  color: var(--navBarsSecondaryColor);
  display: flex;
  justify-content: center;
}

.inputFieldContainer {
  display: flex;
}

.horizontalSeparator {
  height: 39px;
  width: 5px;
  background-color: var(--navBarsPrimaryColor)
}

.inputField {
  display: flex;
  flex-shrink: 0;
  border-radius: 10px;
  height: var(--fieldHeight);
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: var(--fielFontSize);
  color: var(--fieldDataColor);
  background-color: var(--fieldBackgroundColor);
}

.inputField::placeholder {
  color: var(--fieldPlaceholderColor);
}

.inputField:disabled {
  cursor: default;
}

.inputField:focus {
  background-color: white;
  outline: none;
}

.inputFieldLeft {
  border-radius: 10px;
  height: var(--fieldHeight);
  width: 92px;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  font-size: var(--fielFontSize);
  color: var(--fieldDataColor);
  background-color: var(--fieldBackgroundColor);
}

.inputFieldLeft::placeholder {
  color: var(--fieldPlaceholderColor);
}

.inputFieldLeft:disabled {
  cursor: default;
}

.inputFieldLeft:focus {
  background-color: white;
  outline: none;
}

.inputFieldRight {
  border-radius: 10px;
  height: var(--fieldHeight);
  width: 92px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 10px;
  font-size: var(--fielFontSize);
  color: var(--fieldDataColor);
  background-color: var(--fieldBackgroundColor);
}

.inputFieldRight::placeholder {
  color: var(--fieldPlaceholderColor);
}

.inputFieldRight:disabled {
  cursor: default;
}

.inputFieldRight:focus {
  background-color: white;
  outline: none;
}

.button {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  border-radius: 10px;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  width: fit-content;
}

.button:hover {
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.buttonSelected {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  border-radius: 10px;
  color:  var(--navBarsPrimaryColor);
  background-color: var(--navBarsSecondaryColor);
  width: fit-content;
  cursor: pointer;
}

.leftButton {
  height: var(--buttonHeight);
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: var(--buttonFontSize);
  color: var(--navBarsSecondaryColor);
  border-right: solid black 1px;
  background-color: var(--navBarsPrimaryColor);
}

.leftButton:hover {
  cursor: pointer;
  background-color: var(--fieldBackgroundColor);
  color: black;
}

.leftButtonSelected {
  height: var(--buttonHeight);
  border: none;
  background-color: var(--fieldBackgroundColor);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: var(--buttonFontSize);
  color: var(--fieldDataColor);
  border-right: solid black 1px;
}

.leftButtonSelected:hover {
  cursor: pointer;
}

.rightButton {
  height: var(--buttonHeight);
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: var(--buttonFontSize);
  color: var(--navBarsSecondaryColor);
  border-left: solid black 1px;
  background-color: var(--navBarsPrimaryColor);
}

.rightButton:hover {
  cursor: pointer;
  background-color: var(--fieldBackgroundColor);
  color: black;
}

.rightButtonSelected {
  height: var(--buttonHeight);
  border: none;
  background-color: var(--fieldBackgroundColor);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: var(--buttonFontSize);
  color: var(--fieldDataColor);
  border-left: solid black 1px;
}

.rightButtonSelected:hover {
  cursor: pointer;
}

.bottomButtons {
  width: 90%;
  display: flex;
  justify-content: space-between;

}