.button {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  border-radius: 10px;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
}

.button:hover {
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.buttonSelected {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  border-radius: 10px;
  color:  var(--navBarsPrimaryColor);
  background-color: var(--navBarsSecondaryColor);
}

