.previewSVLsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 30px;
  margin-left: 20px;
  padding-right: 20px;
}

.previewSVLContainer {
  display: flex;
  flex-direction: column;
}

.previewSVLContainer:hover {
  cursor: pointer;
  /*transform: scale(1.01); Not possible because it moves the invalid fiels component */
}

.ownerOrRequesterContentWrapper {
  position: relative;
}

.ownerOrRequesterContent {
  height: 60px;
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: var(--previewSVLFontSize);
  background-color: var(--navBarsPrimaryColor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--navBarsSecondaryColor);
}

.previewSVL {
  height: 216px;
  width: 384px;
}

.infoPreviewSVL {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  font-size: var(--previewSVLFontSize);
}

.separator {
  display: flex;
  background-color: var(--navBarsPrimaryColor);
}

.leftSepartor {
  width: 60px;
  border: solid 1px var(--navBarsPrimaryColor);
}

.middleSepartor {
  width: 258px;
  border: solid 1px var(--navBarsSecondaryColor);
}

.rightSepartor {
  width: 60px;
  border: solid 1px var(--navBarsPrimaryColor);
}

.blockedSVL {
  height: var(--buttonHeight);
  width: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.requestSVLtransfer {
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.buySVL {
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.SVLNotRequested {
  display: flex;
  height: var(--buttonHeight);
  font-weight: 450;
  justify-content: center;
  align-items: center;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.SVLRequested {
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.SVLPendingBuy {
  height: var(--buttonHeight);
  display: flex;
  align-items: center;
}

.SVLRequestAcceptedPendingBuy {
  height: var(--buttonHeight);
  width: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 450;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
}

.previewSVLsContainerLoading {
  width: 75vw;
  display: flex;
  justify-content: center;
}

.dotContainer {
  height: 80vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 50px;
  height: 50px;
  background-color: var(--dataPanelBackgroundColor);
  border-radius: 50%;
  opacity: 0;
  animation: dot-animation 2s linear infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.25s;
}
.dot:nth-child(3) {
  animation-delay: 0.5s;
}
.dot:nth-child(4) {
  animation-delay: 0.75s;
}

@keyframes dot-animation {
  0%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}