.dataSVLContainer {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
}

.fullScreenIcon {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 60px;
  border: none;
  background-color: white;
  border-radius: 5px;
  padding-top: 4px;
}

.fullScreenIcon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.changeJsonVersion {
  position: absolute;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}