.generalInformationSVLContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 3rem;
}

.owner {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}

.dataWrapper {
  background-color: var(--dataPanelBackgroundColor);
  padding: 10px;
  border-radius: 10px;
}

.dataWrapperSummary {
  background-color: var(--dataPanelBackgroundColor);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  background-color: var(--dataBackgroundColor);
}