.generalInformationSVLContainer {
  min-height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;

}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 3rem;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}