.maintenancesSVLContainer {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.groupContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  margin-bottom: 10px;
}

.topPart {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-bottom: solid 2px black;
}

.topLeftPart {
  display: flex;
}

.topRightPart {
  display: flex;
  gap: 10px;
}

.topBottomPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottomPart {
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.groupType {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}