.maintenancesSVLContainer {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.groupContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #89CFF0;
  border-radius: 10px;
}

.topPart {
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  gap: 10px;
}

.toggleVisibilityRemoveGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002244;
  border-radius: 10px;
  padding: 10px;
}

.topBottomPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.maintenancesContainer {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.maintenanceContainer {
  display: flex;
}

.groupType {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0047AB;
}

.groupTypeTopPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


.groupTypeBottomPart {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addGroupButton {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.addMaintenance {
  display: flex;
  flex-direction: column;
  justify-content:  center;
  gap: 10px;
  margin-left: 10px;
}