.typeSVLContainer {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 3rem;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
}

.owner {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}

.groupContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--dataPanelBackgroundColor);
}

.groupContainerPrevOwners {
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--dataPanelBackgroundColor);
  margin-bottom: 10px;
}

.topPart {
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  gap: 10px;
}

.toggleVisibilityRemoveGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dataBackgroundColor);
  border-radius: 10px;
  padding: 10px;
}

.topBottomPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--dataBackgroundColor);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.typesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.typeContainer {
  display: flex;
}

.groupType {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--dataBackgroundColor);
  padding: 10px;
}

.groupTypeTopPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.groupTypeBottomPart {
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addType {
  display: flex;
  flex-direction: column;
  justify-content:  center;
  margin-left: 10px;
}

.addGroupButton {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-right: 25px;
}