.componentsFieldContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.inputField {
  border-radius: 10px;
  height: 35px;
  width: 300px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
  color: black;
  background-color: #E1EBEE;
}

.inputField::placeholder {
  color: grey;
}

.inputField:focus {
  outline: none;
  background-color: #E1EBEE;
}

.addRemoveComponent {
  display: flex;
  flex-direction: column;
}

.addComponentButton {

}

.addComponentButton:hover {
  cursor: pointer;
}

.removeComponentButton {

}

.removeComponentButton:hover {
  cursor: pointer;
}