.dateContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: black;
}

.date {
  padding-left: 10px;
  z-index: 2;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  border: none;
  font-size: 1rem;
  background-color: #E1EBEE;
  color: black;
}

.date::placeholder {
  color: grey;
}

.date:focus {
  outline: none;
}

.react-datepicker-popper {
  z-index: 2;
}