.imageFieldContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
}

.fileInput {
  border: none;
  border-radius: 10px;
  width: 310px;
  height: var(--fieldHeight);
  background-color: var(--fieldBackgroundColor);
  color: var(--fieldDataColor);
  font-size: var(--fieldFontSize);
}

.fileInput:hover {
  cursor: pointer;
}

.fileInput:disabled {
  cursor: default;
}

.imageSmallContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 150px;
  gap: 10px;
}

.imageSmallContainerGroupType {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  gap: 10px;
}

.imageSmall {
  height: 108px;
  width: 192px;
  border-radius: 10px;
}

.imageSmall:hover {
  cursor: pointer;
}

.imageSmallSelected {
  height: 108px;
  width: 192px;
  border-radius: 10px;
  border: solid 4px green;
}

.removeImageButtonWrapper {
  position: relative;
}

.removeImageButton {
  position: absolute;
  top: -112px; 
  width: 20px;
  color: black;
  background-color: white;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.removeImageButton:hover {
  cursor: pointer;
  background-color: red;
}

.removeImageButton:disabled {
  cursor: default;
  background-color: white;
}

.imageBigContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}

.imageBig {
  width: 100%;
  max-height: calc(100vh - 150px);
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.closeImageBigContainer {
  position: absolute;
  color: black;
  background-color: white;
  border: none;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 3rem;
}

.closeImageBigContainer:hover {
  cursor: pointer;
}

.previousImageButton {
  position: absolute;
  top: 44%;
  left: 0%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  background-color: white;
  height: 50px;
  width: 20px;
  outline: none;
  border: none;
}

.previousImageButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nextImageButton {
  position: absolute;
  top: 44%;
  right: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: black;
  background-color: white;
  height: 50px;
  width: 20px;
  outline: none;
  border: none;
}

.nextImageButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.imagePreviewContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  height: 130px;
  width: calc(100vw - 20px);
}