.textFieldContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
}

.bigTextField {
  display: flex;
  flex-direction: row;
}

.textField {
  border-radius: 10px;
  height: 100px;
  width: 630px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
  background-color: var(--fieldBackgroundColor);
  border-radius: 10px;
  color: var(--fieldDataColor);
  padding-top: 5px;
}

.textField::placeholder {
  color: var(--fieldPlaceholderColor);
}

.textField:disabled {
  cursor: default;
}

.textField:focus {
  outline: none;
}

.textFieldGroupType {
  border-radius: 10px;
  height: 100px;
  width: 300px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
  background-color: var(--fieldBackgroundColor);
  border-radius: 10px;
  color: black;
  padding-top: 5px;
}

.textFieldGroupType::placeholder {
  color: var(--fieldPlaceholderColor);
}

.textFieldGroupType:focus {
  outline: none;
}

