.fieldContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: black;
}

.inputField {
  border-radius: 10px;
  height: 35px;
  width: 300px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
  color: black;
  background-color: #E1EBEE;
}

.inputField::placeholder {
  color: grey;
}

.inputField:focus {
  outline: none;
  background-color: #E1EBEE;
}