.responsibleFieldContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 100px;
  color: black;
}

.dataContainer {
  display: flex;
  gap: 10px;
}

.meButton {
  
}

.meButton:hover {
  cursor:pointer;
}

.mechanichButton {

}

.mechanichButton:hover {
  cursor: pointer;
}

.mechanicsList {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.mechanic:hover {
  cursor: pointer;
}

.noProofButton {
  background-color: red;
  color: black;
}

.noProofButton:hover {
  cursor: pointer;
}

.yesProofButton {
  background-color: green;
  color: black;
}

.yesProofButton:hover {
  cursor: pointer;
}

.fileInput {
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: aliceblue;
  color: black;
  font-size: 14px;
}

.fileInput:hover {
  cursor: pointer;
}

.imageSmall {
  height: 108px;
  width: 192px;
  border-radius: 10px;
}

.imageSmall:hover {
  cursor: pointer;
}

.imageBigContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}

.imageBig {
  width: 100%;
  max-height: calc(100vh - 150px);
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}

.closeImageBigContainer {
  position: absolute;
  color: black;
  background-color: white;
  border: none;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 3rem;
}

.closeImageBigContainer:hover {
  cursor: pointer;
}