.mainContainer {
  height: var(--vh, 100vh);
  display: flex;
  flex-direction: column;

  background-color: var(--backgroundColor);
}

.dashboardInformation {
  margin-top: 40px;
  display: flex;
  overflow-y: auto;
  padding-bottom: 40px;
}

.filterContainer {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  height: fit-content;
  width: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--dataPanelBackgroundColor);
  flex-shrink: 0;
}

.fullFiltersToggleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.toggleText {
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  font-size: 1rem;
  font-weight: 600;
}

.toggleFullFilters {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  font-size: medium;
}

.toggleFullFilters:hover {
  cursor: pointer;
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
}