.mainContainer {
  height: var(--vh, 100vh);
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
}

.dashboardInformation {
  margin-top: 20px;
  display: flex;
  padding-bottom: 20px;
}

.mainFilterContainer {
  margin-left: 10px;
  margin-right: 10px;
  height: fit-content;
  padding: 10px;
  width: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--dataPanelBackgroundColor);
  flex-shrink: 0;
}

.fullFiltersToggleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleText {
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 5px;
}

.toggleFullFilters {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 10px;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  font-size: medium;
}

.toggleFullFilters:hover {
  cursor: pointer;
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
}

.previewSVLsAndManageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.manangeShownSVLsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
  padding: 10px;
  border-radius: 10px;;
}

.pageButton {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  border-radius: 10px;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
}

.pageButton:hover {
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.pageButton:disabled {
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
  cursor: default;
}

.pageButtonSelected {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  border-radius: 10px;
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
}