.mainContainer {
  height: var(--vh, 100vh);
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  justify-content: space-between;
  transition: background-color 1s ease-in-out;
}

.dotContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 4;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
}

.dot {
  width: 50px;
  height: 50px;
  background-color: var(--dataPanelBackgroundColor);
  border-radius: 50%;
  opacity: 0;
  animation: dot-animation 2s linear infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.25s;
}
.dot:nth-child(3) {
  animation-delay: 0.5s;
}
.dot:nth-child(4) {
  animation-delay: 0.75s;
}

@keyframes dot-animation {
  0%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}