.dateContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
}

.date {
  padding-left: 10px;
  z-index: 2;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  border: none;
  font-size: 1rem;
  background-color: var(--fieldBackgroundColor);
  color: var(--fieldDataColor);
}

.date::placeholder {
  color: var(--fieldPlaceholderColor);
}

data:disabled {
  cursor: default;
}

.date:focus {
  outline: none;
}

.react-datepicker-popper {
  z-index: 2;
}