.defectRepairedContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
}

.structureContainer {
  display: flex;
  flex-direction: column;
}

.manangeDefectRepairedsOrNot {
  display: flex;
  gap: 10px;
}

.button {
  font-size: medium;
  height: 37px;
  border: none;
  border-radius: 10px;
  background-color: var(--fieldBackgroundColor);
  color: var(--fieldDataColor);
}

.button:hover {
  cursor: pointer;
  background-color: white;
}

.button:disabled {
  cursor: default;
  background-color: var(--fieldBackgroundColor);
}

.selectedDefectRepairedContainer {
  width: 700px;
}

.selectedDefectRepaired {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.inputField {
  border-radius: 10px;
  height: 35px;
  width: 200px;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
  color: var(--fieldDataColor);
  background-color: var(--fieldBackgroundColor);
}

.inputField::placeholder {
  color: var(--fieldPlaceholderColor);
}

.inputField:focus {
  outline: none;
}

.listWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.list {
  position: absolute;
  background-color: white;
  max-height: 120px;
  width: 195px;
  z-index: 1;
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.itemList {
  cursor: pointer;
  border: none;
  width: 180px;
  background-color: white;
  color: black;
  font-size: 16px;
}

.itemList:hover {
  cursor: pointer;
  background-color: var(--fieldBackgroundColor);
}