.invalidFieldsContainer {
  position: absolute;
  z-index: 1;
  top: 55px;
  right: 30px;
  background-color: var(--dataPanelBackgroundColor);
  border-radius: 10px;
  padding: 10px;
}

.invalidFields {
  padding: 10px;
  border-radius: 10px;
  width: 800px;
  height: fit-content;
  background-color: var(--dataBackgroundColor);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 300px;
  gap: 5px;
}

.invalidField {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--fieldLabelColor);
}

.closeButtonContainer {
  display: flex;
  justify-content: end;
  background-color: var(--dataBackgroundColor);
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  color: var(--fieldLabelColor);
  background-color: var(--dataBackgroundColor);
  border-radius: 10px;
}

.closeButton:hover {
  background-color: var(--dataPanelBackgroundColor);
  border-radius: 10px;
  color: var(--navBarsSecondaryColor);
  cursor: pointer;
}