.dropdownMenuContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  color: var(--fieldLabelColor);
  width: 150px;
}

.dropDownPosition {
  position: relative;
}

.selected {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  display: flex;
  align-items: center;
  width: 178px;
  border: none;
  border-radius: 10px;
  justify-content: space-between;
}

.selected:hover {
  background-color: var(--navBarsSecondaryColor);
  border-radius: 10px;
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.selectedOpen {
  display: flex;
  align-items: center;
  width: 178px;
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-between;
  border-top: solid grey 4px;
  border-left: solid grey 4px;
  border-right: solid grey 4px;
}

.selectedOpen:hover {
  background-color: var(--navBarsSecondaryColor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: solid grey 4px;
  border-left: solid grey 4px;
  border-right: solid grey 4px;
  z-index: 1;
}

.searchInput {
  width: 130px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  color: var(--buttonTextColor);
  background-color: var(--navBarsSecondaryColor);
}

.searchInput::placeholder {
  color: var(--buttonTextColor);
}

.searchInput:focus {
  outline: none;
}

.dropdownList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 235px;
  max-height: 150px;
  padding-left: 15px;
  border-left: none;
  overflow-y: auto;

}

.dropdownItem {
  border: none;
  text-align: left;
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
}

.dropdownItem:hover {
  background-color: var(--navBarsSecondaryColor);
  border-radius: 10px;
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.noMatch {
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
}

.cancelButton {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  align-self: end;
  margin-right: 5px;
  margin-bottom: 5px;
}

.cancelButton:hover {
  background-color: var(--navBarsSecondaryColor);
  border-radius: 10px;
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}





