.button {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
  border-radius: 10px;
}

.button:hover {
  background-color: var(--navBarsSecondaryColor);
  border-radius: 10px;
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.ownershipSummaryContainerWrapper {
  display: flex;
  position: relative;
}

.ownershipSummaryContainer {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: var(--dataPanelBackgroundColor);
  z-index: 1;
}

.ownershipSummaryInformationContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--dataBackgroundColor);
}

.ownershipInformation {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--fieldLabelColor);
}

.ownersContainer {
  display: flex;
  gap: 10px;
}

.closeButtonContainer {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}

.closeButton {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  color: var(--dataPanelBackgroundColor);
  background-color: var(--buttonBackgroundColor);
  border-radius: 10px;
}

.closeButton:hover {
  background-color: var(--dataPanelBackgroundColor);
  border-radius: 10px;
  color: var(--navBarsSecondaryColor);
  cursor: pointer;
}