.topNavBarContainer {
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  background-color: #3B3C36;
}

.rightSideButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}