.button {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  color: var(--navBarsSecondaryColor);
  background-color: var(--navBarsPrimaryColor);
}

.button:hover {
  background-color: var(--navBarsSecondaryColor);
  border-radius: 10px;
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.actionContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.blocked {
  color: white;
  font-size: 1.05rem;
  font-weight: 600;
}

.tezosLogo {
  width: 14px;
  height: 14px;
}