.topNavBarContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  flex-grow: 1;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(220, 220, 220);
}