.button {
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  color: white;
  background-color: #3B3C36;
}

.button:hover {
  background-color: white;
  border-radius: 10px;
  color:#3B3C36;
  cursor: pointer;
}