.button {
  height: 40px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: white;
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: yellow;
}