:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --backgroundColor: white;
  --dataPanelBackgroundColor: #002244;
  --dataBackgroundColor: #abb4be;

  --fieldBackgroundColor: #E1EBEE;
  --fieldLabelColor: black;
  --fieldPlaceholderColor: grey;
  --fieldDataColor: black;
  --fieldHeight: 37px;
  --fieldFontSize: 1rem;

  --buttonBackgroundColor: #abb4be;
  --buttonTextColor: black;
  --buttonHeight: 37px;
  --buttonFontWeight: 600;
  --buttonFontSize: 1rem;
  --buttonSelectedBackgroundColor:#abb4be;

  --navBarsPrimaryColor: #002244;
  --navBarsSecondaryColor: white;

  --previewSVLFontSize: 1.05rem;

}

body {
  margin: 0;
}




