.bottomNavBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--navBarsPrimaryColor);
}

.topPart {
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}

.separator {
  min-height: 1px;
  background-color: var(--navBarsSecondaryColor);
}

.bottomPart {
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.ownersContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
}

.addOwnerButton {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}