.bottomNavBarContainer {
  display: flex;
  flex-direction: column;
}

.topPart {
  height: 50px;
}

.bottomPart {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: red;
}

.addOwnerButton {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}