.bottomNavBarContainer {
  display: flex;
  flex-direction: column;
}

.topPart {
  height: 50px;
  margin-bottom: 10px;
}

.bottomPart {
  height: 60px;
  display: flex;
  align-items: start;
  background-color: white;
}

.ownersContainer {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;   
}

.addOwnerButton {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}