.chooseSVLContainer {
  display: flex;
}

.button {
  width: 100%;
  background-color: rgb(220, 220, 220);
  border: none;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
}

.butttonSelected {
  width: 100%;
  background-color: rgb(220, 220, 220);
  color: green;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  color: blue;
}