.chooseSVLContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--navBarsPrimaryColor);
  border: none;
  color: var(--navBarsSecondaryColor);
  border-radius: 10px;
}

.button:hover {
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
  cursor: pointer;
}

.butttonSelected {
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
  border: none;
  border-radius: 10px;
}

