.removeAddOwnerButton {
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #3B3C36;
  border: none;
  color: white;
  border-radius: 10px;
}

.removeAddOwnerButton:hover {
  cursor: pointer;
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  color: #3B3C36;
}

.ownerButton {
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #3B3C36;
  border: none;
  color: white;
  border-radius: 10px;
}

.ownerButtonSelected {
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: white;
  color: #3B3C36;
  border-radius: 10px;
}

.ownerButton:hover {
  cursor: pointer;
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  color: #3B3C36;
}
