.addOwnerButton {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: 600;
  background-color: var(--navBarsPrimaryColor);
  border: none;
  color: var(--navBarsSecondaryColor);
  border-radius: 10px;
}

.addOwnerButton:hover {
  cursor: pointer;
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsMainColor);
}

.addOwnerButton:disabled {
  cursor: default;
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
}

.ownerButton {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  background-color: var(--navBarsPrimaryColor);
  border: none;
  color: var(--navBarsSecondaryColor);
  border-radius: 10px;
}

.ownerButtonSelected {
  height: var(--buttonHeight);
  font-size: var(--buttonFontSize);
  font-weight: var(--buttonFontWeight);
  border: none;
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
  border-radius: 10px;
}

.ownerButton:hover {
  cursor: pointer;
  height: var(--buttonHeight);
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsPrimaryColor);
}

.ownerButton:disabled {
  cursor: default;
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
}

.removeOwnerButtonWrapper {
  position: relative;
}

.removeOwnerButton {
  margin-top: 5px;
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 10px;
}

.removeOwnerButton:hover {
  cursor: pointer;
  background-color: var(--navBarsSecondaryColor);
  color: var(--navBarsMainColor);
}

.removeOwnerButton:disabled {
  cursor: default;
  background-color: var(--navBarsPrimaryColor);
  color: var(--navBarsSecondaryColor);
}