.componentsContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
  flex-shrink: 0;
}

.components {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.component {
  color: var(--fieldLabelColor);
}