.componentsContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
}

.components {
  display: flex;
  gap: 5px;
}

.component {
  color: var(--fieldLabelColor);
}