.defectsRepairedContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
  flex-shrink: 0;
}

.defectsRepaired {
  color: var(--fieldLabelColor);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.defectRepaired {
  color: var(--fieldLabelColor);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ownerPart {
  width: fit-content;
}

.groupPart {
  width: fit-content;
}

.defectPart {
  width: fit-content;
}