.repairedDefectByContainer {
  display: flex;
  align-items: center;
}

.fieldLabel {
  width: 150px;
  color: var(--fieldLabelColor);
}

.repairedDefects {
  display: flex;
  flex-direction: column;
  gap: 5px;
}